In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/sms.tsv', sep='\t')

In [3]:
df.head()

                                            sentence  label
0  Go until jurong point, crazy.. Available only ...      1
1                     Ok lar... Joking wif u oni...       1
2  Free entry in 2 a wkly comp to win FA Cup fina...      0
3  U dun say so early hor... U c already then say...      1
4  Nah I don't think he goes to usf, he lives aro...      1

In [4]:
df['label'].unique()

array([1, 0])

In [5]:
df.shape

(5574, 2)

In [6]:
def split_four_cols(r1, r2):
    col1 = []
    col2 = []
    col3 = []
    col4 = []
    count = 0
    for i, row in df[r1:r2].iterrows():
        col1.append(count)
        col2.append(row['label'])
        col3.append('a')
        col4.append(row['sentence'])
        count = count+1
    df_new = pd.DataFrame()
    df_new['id'] = pd.Series(col1)
    df_new['label'] = pd.Series(col2)
    df_new['a'] = pd.Series(col3)
    df_new['sentence'] = pd.Series(col4)
    return df_new

In [7]:
def split_two_cols(r1, r2):
    col1 = []
    col2 = []
    count = 0
    for i, row in df[r1:r2].iterrows():
        col1.append(count)
        col2.append(row['sentence'])
        count = count+1
    df_new = pd.DataFrame()
    df_new['id'] = pd.Series(col1)
    df_new['sentence'] = pd.Series(col2)
    return df_new

In [8]:
df_train = split_four_cols(0, 815)
df_dev = split_four_cols(4460, 5015)
df_test = split_two_cols(5015, 5575)

In [9]:
df_train.head(), df_train.shape

(   id  label  a                                           sentence
 0   0      1  a  Go until jurong point, crazy.. Available only ...
 1   1      1  a                     Ok lar... Joking wif u oni...
 2   2      0  a  Free entry in 2 a wkly comp to win FA Cup fina...
 3   3      1  a  U dun say so early hor... U c already then say...
 4   4      1  a  Nah I don't think he goes to usf, he lives aro..., (815, 4))

In [10]:
df_dev.head(), df_dev.shape

(   id  label  a                                           sentence
 0   0      0  a  Welcome to UK-mobile-date this msg is FREE giv...
 1   1      1  a  This is wishing you a great day. Moji told me ...
 2   2      1  a  Thanks again for your reply today. When is ur ...
 3   3      1  a  Sorry I flaked last night, shit's seriously go...
 4   4      1  a  He said i look pretty wif long hair wat. But i..., (555, 4))

In [11]:
df_test.head(), df_test.shape

(   id                                           sentence
 0   0  Hello boytoy ! Geeee ... I'm missing you today...
 1   1  I think the other two still need to get cash b...
 2   2     Hey gals...U all wanna meet 4 dinner at n√¨te?
 3   3  Dear 0776xxxxxxx U've been invited to XCHAT. T...
 4   4  Babe ! What are you doing ? Where are you ? Wh..., (559, 2))

In [12]:
df_train.to_csv('data/train.tsv', sep='\t', header=None,index=False)

In [13]:
df_dev.to_csv('data/dev.tsv', sep='\t', header=None,index=False)

In [14]:
df_test.to_csv('data/test.tsv', sep='\t',index=False)